# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Pawel Kocan\Documents\Prywatne\Studia\Studia semestr 3\Metody Programowania\MPR_ćwiczenia3\mpr_lab3_zad2\tddsklepwino\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
